.row{
    display: flex;
    flex-wrap: wrap;
}
.tabbar{
    background-color: lightseagreen;
    min-height: 100vh;
    width: 20%;
    margin: 0;
    height: 100%;
    flex-wrap: wrap;
}
.icon{
    font-size: 7rem;
    text-align: center;
    margin-top: 10px;
}
.sec{
    text-align: start;
    margin-right: 10px;
    margin-left: 10px;
}
.main{
    flex: 70%;
    background-color: rgb(157, 219, 216);
    padding: 20px;
}
.title{
    text-align: center;
    text-shadow: 2px 2px 5px greenyellow;
}
.btnlogout{
    margin-right: 10px;
    text-align: end;
}
.logout{
    margin-top: 10px;
}
.btn{
    background-color: red;
    border-radius: 50%;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 4px 2px;
    cursor: pointer;
    margin-top: 10px;
    border: 2px solid red;
}
.btn:hover{
      background-color: brown;
      color: white;
      font-size: 1.2rem;
      margin-top: 10px;
      border: 2px solid brown;
  }
.btncreate{
    background-color: green;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 1.3rem;
    margin-top: 50px;
    margin-bottom: 50px;
}
.btncreate:hover{
    background-color: lightgreen;
    color: white;
    font-size: 1.4rem;
    margin-top: 50px;
}
.btnintent{
    background-color: orange;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 1.3rem;
    margin-top: 1px;
    margin-bottom: 1px;
}
.btnintent:hover{
    background-color: rgb(241, 204, 134);
    color: white;
    font-size: 1.4rem;
    margin-top: 1px;
}
.btndownload{
    background-color: rgb(221, 16, 214);
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 1.3rem;
    margin-top: 50px;
    margin-bottom: 50px;
}
.btndownload:hover{
    background-color: orchid;
    color: white;
    font-size: 1.4rem;
    margin-top: 50px;
}
@media (max-width: 700px) {
    .tabbar {   
      flex-direction: row;
    }
  }
  @media only screen and (max-width: 480px) {
    .site-title {
    font-size: 25px;
    }
   }