.user{
    text-align: right;
    margin-right: 100px;
    padding: 10px;
    text-shadow: 0px 0px 10px red, 0 0 5px white;
    font-size:1.5rem;
}
.Container{
    background-image: url(https://sv1.picz.in.th/images/2021/06/03/PG3LEb.jpg);
    min-width: 100%;
    min-height: 100vh;
    padding: 0px;
    margin: 0px;
    
}
.form{
    background-color: lightseagreen;
    width: 350px;
    height: 360px;
    margin: 15px 590px;
    padding: 20px 20px;
}
.icon{
    text-align: start;
    font-size: 1.4rem;
}
.textbox{
    text-align: right;
}
.inputtext{
    width: 300px;
    text-align: center;
    padding: 5px 5px;
}
.btneye{
    font-size: 1.2rem;
}
.btnnewaccount{
    text-align: end;
    padding-top: 10px;
    padding-bottom: 10px;
}
.btn{
    background-color: green;
    border-radius: 10%;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
.btn {
      background-color: green;
      color: whitesmoke;
      font-size: 1rem;
      margin-top: 10px;
      border: 2px solid green;
  }
.btn:hover{
      background-color: rgb(15, 177, 15);
      color: #fff;
      font-size: 1rem;
      margin-top: 10px;
      border: 2px solid rgb(15, 177, 15);
  }
  .btn1{
    background-color: lightpink;
    border-radius: 10%;
    border: none;
    color: purple;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
.btn1 {
      background-color: lightpink;
      color: purple;
      font-size: 1rem;
      margin-top: 10px;
      border: 2px solid lightpink;
  }
.btn1:hover{
      background-color: pink;
      color: purple;
      font-size: 1rem;
      margin-top: 10px;
      border: 2px solid pink;
  }
  .text{
      color: brown;
  }